.wrapper{
  // max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  padding: 1em;
  margin-left: -20px;
  overflow-x: hidden;
  font-family: $font-body;
  font-weight: 400;
  color: $text-color;
  font-size: 1em;
  background-color:$white;
  // opacity: .45;
}

h1{
  text-shadow: 0px 3px 3px $accent-bronze-dark;
  font-family: $font-headings;
  color:$accent-bronze-light;
  opacity: 0.6;
  font-size: 3.5em;
  font-weight: bold;
  margin: 2em 0 .5em 0em;
  text-align: center;
}
a {
  text-decoration: none !important;
}
ul,
li{
  list-style-type: none ;
  padding: 0;
}
em{
  color: $accent;
}




// logo column
.social-links{
  margin-top: 3em;
  @media(max-width: 475px) {
    margin-top: 1em;
  }
}

.header-logo{
  height:auto;
  width: 100%;
  max-height: 40em;
  padding: 1em;
  border: solid $white thick;
  box-shadow: 0.3125em 0.5em 1.25em  $box-shadow;
  float: left;
  position:relative;
  display: inline-block;
  background-color: $white;
  z-index: 2000;
   @media (min-width: 992px) {
   	max-height: 32em;
    }
}

#headshot1{
  float: left;
  box-shadow:  0.5125em 0.75em 1.25em 0.2em $box-shadow inset;
  background-color: $white;
	border-radius: 50%;
  padding: 1em;
  margin: .5em;
  width: 10em;
  height: 10em;
	shape-outside: circle();
  @media (min-width: 400px) {
    width: 12em;
  	height: 12em;
    padding: 1em;
  }
}

.header-block{
  margin-top: 3em;
  @media (min-width: 768px) {
    margin-top: 17em;
  }
  @media (min-width: 992px) {
    margin-top: 17em;
    margin-left: -1em;
    margin-bottom: 4em;
  }
  @media (min-width: 1200px) {
    margin-left: -2em;
    max-width: 35em;
  }
}
.statement{
  font: $font-body;
  font-size: 1em;
  text-align: left;
  color: $gray-med;
  border: solid thick $accent;
  padding: 1em 1em 1em 1em;
  margin: 3em 1em 0em 1.5em;
  background-color: $white;
  @media (min-width: 400px) {
    font-size: 1.25em;
    padding: 1.75em;
  }
  @media (min-width: 768px) {
    margin: 4em 0em 0em 3em;
    font-size: 1em;
  }
  @media (min-width: 992px) {
    padding: 2em;
    margin: 4em 0em 0em 2em;
 }
  @media (max-width: 1200px) {
    margin: 4em 0em 0em 2em;
  }
}



// portfolio section


h1#title3,
h1#title{

  font-size: 3em;
  @media (min-width: 450px) {
    font-size: 5em;
  }
  @media (min-width: 768px) {
    margin: 0 auto;
    margin-left: .50em;
    display: inline-block;
    font-size: 5.5em;
    margin-top: 0em;
    transform: rotate(-90deg);
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);
  }
  @media (min-width: 992px) {
    margin-top: .25em;

  }
  @media (min-width: 1200px) {
    margin-left: 1.1em;
  }
}
.port-hover{

  float: none;
  font-size: 1.2em;
  font-family: $font-body;
  padding: .5em;
  border: solid thick $white;
  position: relative;
  display:flex;
  color: $white;
  background-color: $accent-bronze-lightest;
  box-shadow:
    inset 1px 1px 0 #ccc,
    inset 2px 2px 0 #c9c9c9,
    inset 3px 3px 0 #bbb,
    inset 0 4px 0 #b9b9b9,
    inset 0 5px 0 #aaa,
    inset 0 6px 1px rgba(0,0,0,.1),
    inset 0 0 5px rgba(0,0,0,.1),
    inset 0 1px 3px rgba(0,0,0,.3),
    inset 0 3px 5px rgba(0,0,0,.2),
    inset 0 5px 10px rgba(0,0,0,.25),
    inset 0 10px 10px rgba(0,0,0,.2),
    inset 0 20px 20px rgba(0,0,0,.15);

// transition: all .25s ease-in;
//     -webkit-transition: all .25s ease-in;
//    -moz-transition: all .25s ease-in;
//    -o-transition: all .25s ease-in;
//

}

.image{
  width:100%;
  height: 100%;
}

.touch-hover:after, .touch-hover:before,
.port-hover:after, .port-hover:before,
.logo-hover:after, .logo-hover:before {
  position:absolute;
  opacity:0;
  transition: all 0.75s;
  -webkit-transition: all 0.25s;
}

.touch-hover:before,
.port-hover:before,
.logo-hover:before {
  width:100%;
  color:$white;
  z-index:1;
  top:0;
  left:0;
  text-align: center;
  padding:1em;
  font-family: serif;
  font-weight: bold;
  font-size: 1.1em;
  text-align:center;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.touch-hover:after,
.port-hover:after,
.logo-hover:after {
  color: $white;
  background:rgba(197, 25, 128, 0.90);
  background-color: $accent-filter;
  width:100%; height:100%;
  top:0; left:0;
  text-align: center;
  font-size: 1.1em;
  padding: 3.5em 1em 1em 1em;
}



.alignment{

  @media (min-width: 992px) {
    height: 5em;
  }



@media (min-width: 992px) {
  height: 6em;
}
}
.project1{

  margin-bottom: 2em;
  @media (min-width: 768px){
    width:12em;
    height: auto;
margin-top: -4em;
margin-bottom: 0;
margin-left: 2%;
  }

  @media (min-width: 992px){
    width:14em;
    height: auto;
    margin-left: 13%;
    margin-top: 10em;
    clear:left;
  }
  @media (min-width: 1200px){

    width:16em;
    height: auto;
    margin-left: 13%;
    margin-top: 10em;

  }

}


.port-hover:hover .description{
}
.video-proj1{
  padding: .5em;
  width: 100%;
  height: 100%;
}
.project1:before{
    content: 'Guessing Game';

}
.project1:after{
    content: 'HTML5 CSS3 JavaScript. Link coming soon...';

}

.project2{
  margin-bottom: 2em;
  @media (min-width: 768px) {
    margin-top: -2em;
    margin-left: 48%;
    width:22em;
    height: auto;
  }
  @media (min-width: 992px) {
    width:24em;
    height: auto;
    margin-top: -2em;
    margin-left: 55%;
  }
  @media (min-width: 1200px) {
    width:24em;
    height: auto;
    margin-top: -4em;
    margin-left: 55%;
  }
}

.project2:before{
  content: 'The Forge ';

}
.project2:after{

content: "A private alumni web app for graduates of The Iron Yard.  HTML5 CSS3 jQuery JavaScript.  Project collaboration with Ruby on Rails team. Project video coming soon.";
}


.project3{

  display: inline-block;
  @media (min-width: 768px) {
    margin-top: -8em;
    width:16em;
    height: auto;
    margin-left: 4%;
  }
  @media (min-width: 992px) {
    width:18em;
    height: auto;
    margin-left: 16%;
    // margin-top: 10em;
  }
  @media (min-width: 1200px) {
    // margin-top: -10em;
    width:20em;
    height: auto;
    margin-left: 20%;
  }
}
.project3:before{

    content: 'The Memory Game';
}
.project3:after{
  content: 'HTML5 CSS3 JavaScript. Link coming soon...';
  padding: 4em 2em 1em 2em;

}

.port-hover:hover:after, .port-hover:hover:before {
    opacity:1;
}









.image{
  padding: .5em;


}
button.playpause{
  position:absolute;
  background-color: red;
  font-size: 1em;
  display:block; /* change this from inline-block */
  width:5em; /* setting the width */
  margin:0 auto; /* this will center  it */
  position:relative;
  text-align: center;
}







h1#title3,
h1#title2{
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: .5em;
  @media (min-width: 450px) {
    font-size: 5em;
  }
  @media (min-width: 768px){
    margin: 0;
    margin-left: -.225em;
    margin-top: 1em;
    text-align: left;
  }
  @media (min-width: 1200px) {
    margin-left: .1em;
    margin-top: 1em;
  }
}



.logo-hover{
  background-color: $white;
  position:relative;
  display: flex;
  height: 10em;
  width: 10em;
  box-shadow: 0.3125em 0.5em 1.25em  $box-shadow;
  font-size: 1.2em;
  font-family: $font-body;
  border: thin solid $white;
  color: $white;
  background-color: $accent-bronze-light;
  color: $white;
  box-shadow:
    inset 1px 1px 0 #ccc,
    inset 2px 2px 0 #c9c9c9,
    inset 3px 3px 0 #bbb,
    inset 0 4px 0 #b9b9b9,
    inset 0 5px 0 #aaa,
    inset 0 6px 1px rgba(0,0,0,.1),
    inset 0 0 5px rgba(0,0,0,.1),
    inset 0 1px 3px rgba(0,0,0,.3),
    inset 0 3px 5px rgba(0,0,0,.2),
    inset 0 5px 10px rgba(0,0,0,.25),
    inset 0 10px 10px rgba(0,0,0,.2),
    inset 0 20px 20px rgba(0,0,0,.15);
  @media(max-width: 767px) {
    float: none;
    margin: 0 auto;
    margin-bottom: 2em;
  }
}
.logo{
  margin: 0 auto;
  width:100%;
  height: 100%;
  padding: .5em;
}
//
// .port-hover:after, .port-hover:before,
// .logo-hover:after, .logo-hover:before {
//   position:absolute;
//   opacity:0;
//   transition: all 0.75s;
//   -webkit-transition: all 0.25s;
// }
//
// .port-hover:before,
// .logo-hover:before {
//   width:100%;
//   color:$white;
//   z-index:1;
//   top:0;
//   left:0;
//   text-align: center;
//   padding:1.25em;
//   font-family: serif;
//   font-weight: bold;
//   font-size: 1.25em;
//   text-align:center;
//   box-sizing:border-box;
//   -moz-box-sizing:border-box;
// }
// .port-hover:after,
// .logo-hover:after {
//   color: $white;
//   background:rgba(197, 25, 128, 0.90);
//   background-color: $accent-filter;
//   width:100%; height:100%;
//   top:0; left:0;
//   text-align: center;
//   font-size: 1.1em;
//   padding: 3em 1em 1em 1em;
// }





.pencil{
  margin-top: 4em;
  clear: left;
  width: 10em;
  height: 10em;
  padding: .5em;
}
.pencil:before{
  content: 'Pencil-U-In';
}
.pencil:after{
  content:'A social networking calendar.';
  padding-top: 3em;
}

.words{
  @media (min-width: 768px) {
    width: 12em;
    height: 12em;
    margin-top: -4em;
  }
}
.words:before{
  content: '150 Words or Less';
  // font-size: 1.25em;
  padding: 1em .5em;
}
.words:after{
  content: 'A blog. Any topic. 150 Words or Less.';
  // padding: 4.25em 1.75em;
}
.foundry{
  @media(min-width: 768px) {
  margin-top: -4em;
  width: 8em;
  height: 8em;
  }
}
.foundry:before{
  content: 'The Foundry';
  padding:.5em ;
  font-size: 1.1em;
}
.foundry:after{
  content: 'A coworking space.';
  padding-top: 2em;
}
.twp{

  @media(min-width: 768px) {
    margin-top: 2em;
    width: 9em;
    height: 9em;
    }
}
.twp:before{
  content: 'Travels With Patti';

  font-size: 1.1em;
}
.twp:after{
  content: 'A travel blog.';
    padding: 5em 1em 1em 1em;
}
.logo-hover:hover:after, .logo-hover:hover:before {
  opacity:1;
}




















.row4{
  @media (min-width: 768px) {
    float: left;
    margin-top: -14em;
  }
}
.hero{
  width: 10em;
  height: 10em;
  box-shadow: 0.5125em 0.75em 1.25em 0.2em $box-shadow inset;
  background-color: $white;
	border-radius: 50%;
  padding: 1em;
  margin-left: .75em;
  margin-right: -1em;
  float:right;
	shape-outside: circle();
  @media (min-width: 450px) {
    width: 13em;
    height: 13em;
    margin: 1.25em;
    margin-right: -1em;
  }
  @media (min-width: 768px) {
    width: 12em;
  	height: 12em;
    margin: 2.5em;
    margin-right: -3.75em;
  }
  @media (min-width: 992px) {
    max-width: 16em;
  	max-height: 16em;
   }
  @media (min-width: 1200px) {
    width: 12em;
  	height: 12em;
  }
}
.statement2{
  background-color: $white;
  border: solid thick $accent;
  color: $gray-med;
  font-size: 1em;
  margin-top: 4em;
  margin-right: 1em;
  margin-bottom: 5em;
  padding:  1.25em;
  text-align: left;
  clear: left;
  @media (min-width: 450px) {
    font-size: 1.25em;
    margin-top: 5em;
    margin-bottom: 4em;
    margin-right: 2em;
    padding:  1.5em;
  }
  @media (min-width: 768px) {
    margin-left: 0em;
    margin-right: 0em;
    padding: 1.75em;
  }
}

.footer{
  margin-top: 1.5em;
  display: block;
  padding-bottom: 2em;
}

.location{
  width: 25em;
  height: auto;
  margin: 0 auto;
  margin-top: 4em;
  @media (min-width: 768px) {
margin-top: 1em;
  }
@media(min-width: 992px){
  // margin-top: -3em;
}
@media(min-width: 1200px){
  margin-top: -3em;
}

}



.note{
  background-color: $accent-bronze-light;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-size: 1.75em;
  font-weight: bold;
  margin-top:1em;
  margin-bottom: .5em ;
  text-align: center;
  font-size: 2em;
  @media (min-width: 768px) {
    display: inline-block;
    margin: .5em 0em 2em 1em;
    font-size: 1.5em;
   }
  @media (min-width: 992px) {
    margin: 1.5em 2.5em 3em 0;
    font-size: 1.75em;
   }
   @media (min-width: 1200px) {
     margin: 1.5em 2.5em 1em 0;
     font-size: 2em;
    }
}



h1#title3{
  margin-top: 1em;
  margin-bottom: 0em;
  @media (min-width: 768px){
    margin-top: 1.5em;
    margin-left: 0em;
  }
}

.skills-block2{
  padding: .75em;

}
.skills-block{
  padding: .75em;
  margin-bottom: 2em;

  @media (min-width: 768px) {
    margin-top: 2.5em;
    margin-top: -.5em;
  }
  @media (min-width: 992px) {
    margin-left: 2em;
  }
  @media (min-width: 1200px) {
    margin-left: 0em;
  }
}
.skills-block-column{
  display: inline-block;
  width: auto;
  height: auto;
}




.skills{
  padding: .125em .05em .125em .05em ;
  font-family: $font-headings;
  float: left;
  width: 50%;
  font-style: italic;
  font-family: $font-headings;
  font-size: .8em;
  font-weight: bold;
  color: $accent-bronze-light;
  @media (min-width: 480px) {
    font-size: 1em;
    width: 33%;
  }
  color: $accent-bronze-light;
  @media (min-width: 580px) {
    font-size: 1.25em;
    width: 33%;
  }
  @media (min-width: 768px) {
    // font-size: 1.25em;
    width: 100%;
  }
}
