// Variables

// Font stack

$font-headings: 'Arimo', sans-serif;
$font-headings-italic: 'Arimo', sans-serif italic;
$font-body:'Open Sans', sans-serif;

// Colors
$white:#ffffff;
$gray-med: #6e727e;
$box-shadow:#bfc3c8;

$accent:#c51980;
$accent-med:#a31369;
$accent-dark:#7a0e4f;
$accent-filter:rgba(163,19,105, .9);

$accent-bronze-lightest:#d0c9c3;
$accent-bronze-very-light:#c5bcb5;
$accent-bronze-light:#aea198;
$accent-bronze:#8c7a6c;
$accent-bronze-dark:#62554b;


$color:$accent;

@mixin threeD-text($color){
  color: $color;
  text-shadow:
  0 .5px 0 darken($color, 5%),
  0 1px 0 darken($color, 7%),
  0 1.5px 0 darken($color, 9%),
  0 2px 0 darken($color, 11%),
  0 2.5px 0 darken($color, 13%),
  0 3px 0 darken($color, 15%),
  0 3.5px 0 darken($color, 17%),
  0 4px 0 darken($color, 19%),
  0 4.5px 0 darken($color, 21%),
  2px 6px 15px rgba(0,0,0,0.1),
  2px 6px 5px rgba(0,0,0,0.3),
  2px 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2);
//  0 5px 10px rgba(0,0,0,.25),
//  0 10px 10px rgba(0,0,0,.2),
//  0 20px 20px rgba(0,0,0,.15);
}
